beautifulsoup4==4.12.2
click==8.1.3
colorama==0.4.6
deepdiff==6.3.0
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
networkx==2.8.8
notebook==7.2.0
node2vec==0.4.6
numpy
openai
pandas
Pillow
pinecone-client==4.0.0
pymongo
pytesseract==0.3.10
pytest==7.3.1
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2022.10.31
rstr==3.2.2
scipy
seaborn
selenium>=4.20.0
tiktoken
tokenizers
tqdm==4.65.0
webdriver-manager==4.0.1
